.input_container{
    background-color: #ffffff;
    width: 400px;
    margin: auto;
    margin-top: -70px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 2px #808080;
    cursor: pointer;
}
.input_container h3{
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    margin-left: 8px;
    margin-top: 20vh;
}
input{
    margin-top: 4px;
    margin-left: 5vh;
    margin-bottom: 20px;
    width: 260px;
    height: 35px;
    border: 2px solid #808080;
    border-radius: 5px;
    margin-right: 5px;
    outline: 0;
}

button i{
    margin: 0;
}
button{
    margin: 10px;
    height: 4vh;
    width: 4vh;
    border-radius: 360px;
    background-color: #dfe0e2;
    color: #555555;
    border: none;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    background-color: rgb(194, 167, 173);
    transition: .6s;
}
ul{
    display: flex;
    align-items: center;
    margin: 0;
}
ul li{
    list-style-type: none;
    padding-bottom: 5px;
    background-color: #F1F5F8;
    padding: 4px;
    width: 250px;
    border-left: 2px solid #ff6347;
    font-weight: 700;
    margin-bottom: 5px;
    margin-right: 5px;
    letter-spacing: 2px;
}

ul li:hover {
  background: #ae8f8f;
}